name: Deploy to GitHub Pages

on:
  push:
    branches: [master] # Ou main, selon le nom de ta branche
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install, build, and upload
        uses: withastro/action@v3
        # Pas besoin de configurer de dossier dist, l'action s'en occupe !